:root { 
--bluegray_900:#2b2b2b; 
--gray_600:#767676; 
--amber_600_cc:#ffb400cc; 
--bluegray_50:#f0f0f6; 
--light_green_600:#7eb942; 
--amber_600_f2:#ffb400f2; 
--amber_600:#ffb400; 
--blue_A400_19:#2f7af919; 
--green_A700_cc:#05ff00cc; 
--white_A700:#ffffff; 
--gray_50:#fafafa; 
--black_900_26:#00000026; 
}